.teacher-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light gray background color */
    padding: 20px;
  }
  
  .page-title {
    color: #333; /* Dark text color */
    margin-bottom: 20px;
  }
  
  .registration-number {
    color: #666; /* Medium gray text color */
    font-style: italic;
    margin-bottom: 40px;
  }
  
  .subject-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .subject-card {
    width: 300px;
    margin: 10px;
  }
  