/* Attendance.css */
.present-day {
    background-color: #4caf50; /* Green color */
    color: white;
    border-radius: 50%; /* Rounded shape */
    /* Adjust width */
     /* Adjust height */
    
  
    /* Adjust font size */
}
/* Style for absent-day tiles */
.absent-day {
    background-color: #f44336; /* Red color */
    color: white;
    border-radius: 50%; /* Rounded shape */
   /* Adjust height */
   
   
    /* Adjust font size */
}
/* Attendance.css */

.green-card {
    background-color: lightgreen;
}
.red-card {
    background-color: lightcoral;
}